.fondo-home {
  background-image: url('/public/images/blur-photo.jpg');
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(8px);
  
}

.details-tokio{
  background-image: url('https://content.r9cdn.net/rimg/dimg/ca/7e/9ae1c4b2-city-21033-16da67ba87a.jpg?width=1366&height=768&xhint=2534&yhint=2206&crop=true');
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(8px);
}
